.temario a {
  display: block;
  min-width: 200px;
  line-height : 50px;
  text-align : center;
  text-decoration : none;
  color: white;
}

.tit {
    font-family: 'Cinzel', serif;
    font-size: 2.5em;
    color: #E8895B;
    text-align: center;
}

#fondo{
    background-image: url(../img/Luna.jpg);
  }

  #fondo2{
    background-image: url(../img/est.jpg);
  }

  .imagenes{
    width: 400px;
    display: block;
    margin: 0px auto;
  }
  .cuerpo{
    text-align: center;
    margin: 0 auto;
  width: auto;
  max-width: 650px;
  text-align: justify;
  color: #D1C39F;
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  }

  dt{
    color: red;
  }